{% extends "admin/base.html" %}
{% load static %}
<link href="{% static 'external.css' %}" rel="stylesheet">

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block extrastyle %}
    <style>
        body {
            background: #fff;
        }
        h1 {
            color: #666;
            }
        #header {
            background: #524190;
            }
        #branding {
            width: 90%;
            }
        #site-name {
            float: right;
            }
        div.breadcrumbs, .module h2, .module caption, .inline-group h2 {
            background: #6448cc
        }

    </style>
{% endblock %}

{% block branding %}
<a class="logo-top" href="#">
	    <img src="{% static 'img/Logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
	    Brand Name
</a>

<h1 id="site-name"><a href="{% url 'admin:index' %}" style="color: white">Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}